#

In [3]:
import dask.dataframe as dd
import numpy as np

from colorcet import fire
from matplotlib import pyplot as plt
import datashader as ds
import datashader.transfer_functions as tf

from datashader.utils import lnglat_to_meters

import geopandas as gpd

In [4]:
permits = dd.read_csv(
    'DOB_Permit_Issuance.csv',
    usecols=['Filing Date', 'LATITUDE', 'LONGITUDE'],
    sep=','
)
permits.head()

  Filing Date   LATITUDE  LONGITUDE
0  05/10/2022  40.740909 -73.987947
1  05/10/2022  40.563654 -74.179584
2  05/10/2022  40.639633 -74.094169
3  05/10/2022  40.544597 -74.157153
4  05/10/2022  40.566798 -74.119726

In [5]:
permits['Filing Date'] = dd.to_datetime(permits['Filing Date'])
permits = permits.assign(year=permits['Filing Date'].dt.strftime('%Y'))
permits.head()

  Filing Date   LATITUDE  LONGITUDE  year
0  2022-05-10  40.740909 -73.987947  2022
1  2022-05-10  40.563654 -74.179584  2022
2  2022-05-10  40.639633 -74.094169  2022
3  2022-05-10  40.544597 -74.157153  2022
4  2022-05-10  40.566798 -74.119726  2022

In [6]:
permits['x'], permits['y'] = lnglat_to_meters(permits['LONGITUDE'], permits['LATITUDE'])
permits = permits.drop(['LONGITUDE', 'LATITUDE'], axis=1)
permits.head()

  Filing Date  year             x             y
0  2022-05-10  2022 -8.236301e+06  4.974201e+06
1  2022-05-10  2022 -8.257634e+06  4.948192e+06
2  2022-05-10  2022 -8.248125e+06  4.959332e+06
3  2022-05-10  2022 -8.255137e+06  4.945400e+06
4  2022-05-10  2022 -8.250970e+06  4.948653e+06

In [7]:
permits = permits.dropna()

In [10]:
import scipy.stats as st
x = [3.2, 5.1, 4.3, 6.7, 7.9, 4.8, 5.6, 6.2, 5.9]
y = [2.9, 4.5, 6.1, 5.8, 4.2, 5.3, 4.7, 6.5, 6.8]
data = [150, 130, 140, 160, 180, 170, 190, 200, 175, 165]

In [15]:
st.mannwhitneyu(x, y)
st.t.interval(confidence=0.95, df=len(data)-1, loc=np.mean(data), scale=st.sem(data))

(150.38182928831, 181.61817071169)