In [2]:
import dask.dataframe as dd
import numpy as np

from colorcet import fire
from matplotlib import pyplot as plt
import datashader as ds
import datashader.transfer_functions as tf

from datashader.utils import lnglat_to_meters

import geopandas as gpd

In [21]:
permits = dd.read_csv(
    'DOB_Permit_Issuance.csv',
    usecols=['Filing Date', 'LATITUDE', 'LONGITUDE'],
    sep=','
)
permits.head()

  Filing Date   LATITUDE  LONGITUDE
0  05/10/2022  40.740909 -73.987947
1  05/10/2022  40.563654 -74.179584
2  05/10/2022  40.639633 -74.094169
3  05/10/2022  40.544597 -74.157153
4  05/10/2022  40.566798 -74.119726

In [27]:
permits['Filing Date'] = dd.to_datetime(permits['Filing Date'], format='%Y%m%d')
permits.head()

  Filing Date   LATITUDE  LONGITUDE
0  2022-05-10  40.740909 -73.987947
1  2022-05-10  40.563654 -74.179584
2  2022-05-10  40.639633 -74.094169
3  2022-05-10  40.544597 -74.157153
4  2022-05-10  40.566798 -74.119726

In [28]:
permits = permits.assign(year=permits['Filing Date'].dt.strftime('%Y'))
permits.head()

  Filing Date   LATITUDE  LONGITUDE  year
0  2022-05-10  40.740909 -73.987947  2022
1  2022-05-10  40.563654 -74.179584  2022
2  2022-05-10  40.639633 -74.094169  2022
3  2022-05-10  40.544597 -74.157153  2022
4  2022-05-10  40.566798 -74.119726  2022